
Solar Winds.xcodeproj/project.xcworkspace/xcuserdata/stephane.xcuserdatad/UserInterfaceState.xcuserstate

Solar Winds.xcodeproj/xcuserdata/stephane.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Solar Winds.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/Solar Winds.xcscheme

Solar Winds.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/xcschememanagement.plist
